<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300">
  <!-- Image Section -->
  <div class="rounded-t-xl bg-gray-50 flex items-center justify-center relative">
    <!-- Add to Wishlist -->
    <button type="button"
      class="absolute top-3 right-12 p-2 rounded-full bg-white shadow hover:bg-gray-100 transition z-[20000]"
      (click)="addToWishlist(item.id)">
      <i class="fa-solid fa-heart text-gray-500"></i>
    </button>

    <!-- Remove from Wishlist -->
    <button type="button" class="absolute top-3 right-3 p-2 rounded-full bg-white shadow hover:bg-gray-100 transition"
      (click)="removeFromWishlist(item.id)">
      <i class="fa-solid fa-heart text-red-500"></i>
    </button>
    
    <!-- Product Image -->
    <div class="block w-full"> <!---[routerLink]="'/products/' + item.slug + '/' + item._id"-->
      <img class="w-[240px] h-[240px] object-contain mx-auto p-4 transition-transform duration-300 hover:scale-105"
        [src]="item.imageCover" [alt]="item.title" />
    </div>
  </div>

  <!-- Info Section -->
  <div class="px-5 pb-5 mt-3">
    <!-- Brand & Category -->
    <div class="flex flex-wrap items-center justify-between mb-3 gap-2 mt-1 text-xs text-gray-600">
      <span class=" py-0.5 bg-gray-100 rounded-md">
        Brand: <span class="font-medium text-gray-800">{{ item.brand.name }}</span>
      </span>
      <span class=" py-0.5 bg-gray-100 rounded-md">
        Category: <span class="font-medium text-gray-800">{{ item.category.name }}</span>
      </span>
    </div>

    <a [routerLink]="'/products/' + item.slug + '/' + item._id">
      <h5
        class="text-sm md:text-base font-semibold tracking-tight text-gray-900 hover:text-secondary line-clamp-1 transition-colors">
        {{ item.title }}
      </h5>
    </a>

    <!-- Price -->
    <p class="text-lg font-bold text-secondary mt-2">
      {{ item.price }} <span class="text-sm font-medium">L.E</span>
    </p>

    <!-- Ratings -->
    <div class="flex items-center mt-2">
      <app-star-rating [rating]="item.ratingsAverage" [maxRating]="5" [readonlyCase]="true"></app-star-rating>
      <span class="text-gray-500 text-sm font-medium ms-2">
        ({{ item.ratingsAverage }})
      </span>
    </div>

    <!-- Add to Cart Button -->
    <button (click)="addToCart()"
      class="mt-4 w-full hover:cursor-pointer bg-black text-white text-sm py-2.5 rounded-lg hover:bg-secondary transition-colors duration-300 flex items-center justify-center">
      <i class="fa-solid fa-cart-shopping mr-2"></i> Add to Cart
    </button>
  </div>
</div>
