<div class="min-h-screen bg-white">
  <!-- Main layout -->
  <div class="px-10 mx-auto p-4 grid grid-cols-12  gap-6">
    <aside class="col-span-12 md:col-span-3 space-y-6 bg-white shadow-md py-8 px-4 rounded-lg"
      style="height: fit-content;">
      <h2 class="text-lg font-semibold mb-4"> {{ 'PRODUCTS_FILTER.TITLE' | translate }}</h2>

      <!-- Keyword -->
      <div class="mb-4"> <!--[value]="searchKeyword"-->
        <label class="block text-sm font-medium mb-1">{{ 'PRODUCTS_FILTER.KEYWORD_LABEL' | translate }}</label>
        <input type="text" name="keyword" [value]="searchKeyword"
          placeholder="{{ 'PRODUCTS_FILTER.KEYWORD_PLACEHOLDER' | translate }}" (input)="searchProducts($event)"
          class="w-full border border-gray-300 rounded-md p-2 text-sm" />
        <!-- <input type="text"  name="keyword"   placeholder="{{ 'PRODUCTS_FILTER.KEYWORD_PLACEHOLDER' | translate }}"
          (input)="searchProducts($event)" class="w-full border border-gray-300 rounded-md p-2 text-sm"> -->
      </div>

      <!-- Price Range -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1"> {{ 'PRODUCTS_FILTER.PRICE_RANGE_LABEL' | translate }}</label>
        <div class="flex space-x-2">
          <input type="number" name="price[gte]" placeholder="Less than" [(ngModel)]="minPrice"
            class="w-1/2 border border-gray-300 rounded-md p-2 text-sm">
          <input type="number" name="price[lte]" placeholder="Greater than" [(ngModel)]="maxPrice"
            class="w-1/2 border border-gray-300 rounded-md p-2 text-sm">
        </div>
      </div>

      <!-- Sort -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1"> {{ 'PRODUCTS_FILTER.SORT_BY_LABEL' | translate }}</label>
        <select name="sort" class="w-full border border-gray-300 rounded-md p-2 text-sm" [(ngModel)]="sortProducts">
          <option value="">{{ 'PRODUCTS_FILTER.SORT_OPTIONS.LOW_TO_HIGH' | translate }}</option>
          <option value="-price">{{ 'PRODUCTS_FILTER.SORT_OPTIONS.HIGH_TO_LOW' | translate }}</option>
        </select>
      </div>

      <!-- Brand -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1"> {{ 'PRODUCTS_FILTER.BRAND_LABEL' | translate }}</label>
        <select name="brand" class="w-full border border-gray-300 rounded-md p-2 text-sm" [(ngModel)]="selectedBrand">
          <option value="">{{ 'PRODUCTS_FILTER.BRAND_PLACEHOLDER' | translate }}</option>
          @for (brand of allBrands; track $index) {
          <option [value]="brand._id">{{brand.name}}</option>
          }
        </select>
      </div>

      <!-- Category -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">{{ 'PRODUCTS_FILTER.CATEGORY_LABEL' | translate }}</label>
        <select name="Category" class="w-full border border-gray-300 rounded-md p-2 text-sm"
          [(ngModel)]="selectedCategory">
          <option value="">{{ 'PRODUCTS_FILTER.CATEGORY_PLACEHOLDER' | translate }}</option>
          @for (category of allCategories; track $index) {
          <option [value]="category._id">{{category.name}}</option>
          }
        </select>
      </div>

      <!-- Submit -->
      <button class="w-full bg-secondary text-white py-2 px-4 mt-4 rounded-md hover:bg-red-700 hover:cursor-pointer"
        (click)="applyFilters()">
        {{ 'PRODUCTS_FILTER.APPLY_FILTERS' | translate }}
      </button>
    </aside>


    <!-- Products -->
    <div class="py-3 col-span-12 md:col-span-9 gap-6 mb-10">
      <main>
        <!--class="lg:col-span-3"-->
        <!-- Items count -->
        @if (isLoading) {
        <app-loader></app-loader>

        } @else if (productsList.length > 0) {
        <!-- Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          @for (product of productsList | paginate: {
          id: 'products',
          itemsPerPage: pageSize,
          currentPage: currentPage,
          totalItems: total
          }; track product.id) {
          <app-product-card [item]="product" />
          }
        </div>
        }@else {
        <section class="min-h-screen flex flex-col justify-center items-center py-10 text-center text-gray-600">
          <i class="fa-solid fa-hourglass text-4xl mb-4"></i>
          <p class="text-lg font-medium"> {{ 'PRODUCTS_FILTER.NO_PRODUCTS' | translate }}</p>
        </section>
        }

        <pagination-controls class="my-pagination" id="products" previousLabel="" nextLabel=""
          (pageChange)="pageChanged($event)"></pagination-controls>
      </main>
    </div>
  </div>
</div>
