// :host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
//   color: #333;
//   font-size: 12px;
//   margin: 5px;
//   padding: 6px 8px;
//   border-radius: 50%;
//   background: #f5f5f5;
//   transition: .2s ease-in-out;
//   cursor: pointer;
// }


// :host ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
//   color: #f5f5f5;
//   background: #DB4444;
// }

// :host ::ng-deep .owl-theme .owl-nav {
//   position: absolute;
//   top: -80px;
//   right: 0;
// }
:host ::ng-deep .owl-theme {
  .owl-nav {
    position: absolute;
    top: -80px;
    inset-inline-end: 0;

    [class*=owl-] {
      color: #333;
      font-size: 12px;
      margin: 5px;
      padding: 6px 8px;
      border-radius: 50%;
      background: #f5f5f5;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #f5f5f5;
        background: #DB4444;
      }
    }
  }

  // Optional: Flip arrows in RTL if needed
  &.owl-rtl .owl-nav [class*=owl-] i {
    transform: scaleX(-1);
  }
}
