:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
  color: #333;
  font-size: 12px;
  margin: 5px;
  padding: 6px 8px;
  border-radius: 50%;
  background: #f5f5f5;
  transition: .2s ease-in-out;
  cursor: pointer;
}


:host ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
  color: #f5f5f5;
  background: #DB4444;
}

:host ::ng-deep .owl-theme .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}

// swiper-container::part(container) {
//   padding-bottom: 60px !important;
// }
// .swiper-wrapper{
//     padding-bottom: 80px !important;
// }
// swiper-container::part(button-prev),
// swiper-container::part(button-next) {
//   top: 98% !important;
//   width: 20px;
//   height: 20px;
//   z-index:50 !important;
//   color: red !important; /* just to test */
// }

// swiper-container::part(pagination) {
//   bottom: 20px !important;
//   text-align: center;
//   top: 93% !important;
// }


// swiper-container::part(button-prev) {
//   left: 40% !important;
// }

// swiper-container::part(button-next) {
//   right: 40% !important;
// }
