<div class="max-w-lg mx-auto py-10">
  <!-- Step Title -->
  <h2 class="text-2xl font-semibold mb-2">Forgot Password</h2>
  <p class="text-gray-900 mb-8">Reset your password in 3 simple steps</p>

  <!-- Step Indicator -->
  <div class="flex items-center justify-between mb-12">
    <div class="flex-1 text-center">
      <div class="w-10 h-10 mx-auto flex items-center justify-center rounded-full  font-bold"
       [class]="steps ===1 ? 'bg-red-500 text-white' :'bg-gray-200 text-gray-600'">1</div>
      <p class="mt-2 text-sm font-medium">Enter Email</p>
    </div>
    <div class="flex-1 h-1 bg-gray-300 mx-2"></div>
    <div class="flex-1 text-center">
      <div class="w-10 h-10 mx-auto flex items-center justify-center rounded-full  font-bold" [class]="steps === 2 ? 'bg-red-500 text-white' :'bg-gray-200 text-gray-600'">2</div>
      <p class="mt-2 text-sm font-medium">Verify Code</p>
    </div>
    <div class="flex-1 h-1 bg-gray-300 mx-2"></div>
    <div class="flex-1 text-center">
      <div class="w-10 h-10 mx-auto flex items-center justify-center rounded-full font-bold" [class]="steps === 3? 'bg-red-500 text-white' :'bg-gray-200 text-gray-600'">3</div>
      <p class="mt-2 text-sm font-medium">New Password</p>
    </div>
  </div>

  <!-- Step 1: Enter Email -->
  @if(steps ===1 ){
    <form class="space-y-4">
    <div class="relative z-0 w-full mb-5 group">
      <input type="email" id="email" class="form-input peer" placeholder=" " required />
      <label for="email"
        class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:font-medium peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
        Email Address
      </label>
    </div>

    <button type="button" (click)="steps = 2"
      class="w-full bg-secondary text-white py-3 rounded-[4px] font-medium hover:bg-red-600">
      Send Verification Code
    </button>
  </form>
  }
  <!-- Step 2: Verify Code -->
  @else if (steps === 2) {
  <form class="space-y-4 mt-10">
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" id="code" maxlength="6" class="form-input peer" placeholder=" " required />
      <label for="code"
        class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:font-medium peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
        Verification Code
      </label>
    </div>

    <button type="button" (click)="steps = 3"
      class="w-full bg-secondary text-white py-3 rounded-[4px] font-medium hover:bg-red-600">
      Verify Code
    </button>
  </form>
   }
   @else {
  <!-- Step 3: New Password -->
  <form class="space-y-4 mt-10">
    <div class="relative z-0 w-full mb-5 group">
      <input type="password" id="new_password" class="form-input peer" placeholder=" " required />
      <label for="new_password"
        class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:font-medium peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
        New Password
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="password" id="confirm_password" class="form-input peer" placeholder=" " required />
      <label for="confirm_password"
        class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:font-medium peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
        Confirm Password
      </label>
    </div>

    <button type="submit"
      class="w-full bg-secondary text-white py-3 rounded-[4px] font-medium hover:bg-red-600">
      Reset Password
    </button>
  </form>
}
</div>
