<div class="max-w-lg mx-auto py-10">
  <!-- Step Title -->
  <h2 class="text-2xl font-semibold mb-2">Forgot Password</h2>
  <p class="text-gray-900 mb-8">Reset your password in 3 simple steps</p>

  <!-- Step Indicator -->
  <div class="flex items-center justify-between mb-12">
    <div class="flex-1 text-center">
      <div class="w-10 h-10 mx-auto flex items-center justify-center rounded-full  font-bold"
        [class]="steps ===1 ? 'bg-red-500 text-white' :'bg-gray-200 text-gray-600'">1</div>
      <p class="mt-2 text-sm font-medium">Enter Email</p>
    </div>
    <div class="flex-1 h-1 bg-gray-300 mx-2"></div>
    <div class="flex-1 text-center">
      <div class="w-10 h-10 mx-auto flex items-center justify-center rounded-full  font-bold"
        [class]="steps === 2 ? 'bg-red-500 text-white' :'bg-gray-200 text-gray-600'">2</div>
      <p class="mt-2 text-sm font-medium">Verify Code</p>
    </div>
    <div class="flex-1 h-1 bg-gray-300 mx-2"></div>
    <div class="flex-1 text-center">
      <div class="w-10 h-10 mx-auto flex items-center justify-center rounded-full font-bold"
        [class]="steps === 3? 'bg-red-500 text-white' :'bg-gray-200 text-gray-600'">3</div>
      <p class="mt-2 text-sm font-medium">New Password</p>
    </div>
  </div>

  <!-- Step 1: Enter Email -->
  <div class="mx-auto rounded-lg ">

    <!-- Step 1: Email -->
    @if (steps === 1) {
    <form [formGroup]="emailForm" (ngSubmit)="sendCode()" class="space-y-4">
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" formControlName="email" id="email" class="form-input peer" placeholder=" " />
        <label for="email"
          class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
          Email Address
        </label>
        @if (emailForm.get('email')?.invalid && emailForm.get('email')?.touched) {
        <div class="flex py-3 px-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-4">Please enter a valid email.
        </div>
        }
      </div>

      <button type="submit" [disabled]="isLoading" class="relative text-white bg-secondary transition duration-300 mt-10 block md:w-full
               hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300
               font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-3.5 text-center
               hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed capitalize">
        @if(isLoading){
        <div role="status">
          <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
        } @else {
        Send Verification Code
        }
      </button>
    </form>
    }

    <!-- Step 2: Verify Code -->
    @else if (steps === 2) {
    <form [formGroup]="codeForm" (ngSubmit)="verifyCode()" class="space-y-4 mt-10">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" formControlName="resetCode" id="code" maxlength="6" class="form-input peer"
          placeholder=" " />
        <label for="code"
          class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
          Verification Code
        </label>
        @if (codeForm.get('resetCode')?.invalid && codeForm.get('resetCode')?.touched) {
        <div class="flex py-3 px-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-4">Code must be 6 digits.</div>
        }
      </div>

      <button type="submit" [disabled]="isLoadingCode" class="relative text-white bg-secondary transition duration-300 mt-10 block md:w-full
               hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300
               font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-3.5 text-center
               hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed capitalize">
        @if(isLoadingCode){
        <div role="status">
          <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
        } @else {
        Verify code
        }
      </button>
    </form>
    }

    <!-- Step 3: Reset Password -->
    @else {
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" class="space-y-4 mt-10">
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" formControlName="email" id="resetEmail" class="form-input peer" placeholder=" " />
        <label for="resetEmail"
          class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
          Email Address
        </label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input type="password" formControlName="newPassword" id="newPassword" class="form-input peer" placeholder=" " />
        <label for="newPassword"
          class="form-label -translate-y-6 scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:!text-red-600">
          New Password
        </label>
        @if (resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched) {
        <div class="flex py-3 px-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-4">Password must be at least 6
          characters.</div>
        }
      </div>

      <button type="submit" [disabled]="isLoadingPass" class="relative text-white bg-secondary transition duration-300 mt-10 block md:w-full
               hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300
               font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-3.5 text-center
               hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed capitalize">
        @if(isLoadingPass){
        <div role="status">
          <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
        } @else {
        Reset Password
        }
      </button>
      <!-- <button type="submit"
        class="w-full bg-secondary text-white py-3 rounded-[4px] font-medium hover:bg-red-600">
        Reset Password
      </button> -->
    </form>
    }
  </div>
