  <!-- Breadcrumb -->
  <div class="max-w-3xl text-basic text-gray-700 lg:px-10 mt-6">
    <a routerLink="/home" class="font-semibold text-gray-400 hover:text-secondary">Home</a>
    <span class="mx-2">/</span>
    <span class="text-gray-700">404 Error</span>
  </div>

<div class="flex flex-col items-center justify-center bg-white px-4 space-y-6 pt-[80px] pb-[120px]">
  <!-- Error Message -->
  <h1 class="text-6xl font-bold text-black mb-4">404 Not Found</h1>
  <p class="text-gray-600 mb-8">Your visited page not found. You may go home page.</p>

  <!-- Button -->
  <a routerLink="/home"
     class="px-6 py-2 rounded-md bg-red-500 text-white font-medium hover:bg-red-600 transition">
    Back to home page
  </a>
</div>
