<header class="w-full">
  <!-- Swiper -->
   <owl-carousel-o [options]="customOptions" class="h-full w-full">
    <ng-template carouselSlide> <img src="/images/banner-4.jpg" alt="hero image" class="w-full h-[600px] object-cover" /></ng-template>
    <ng-template carouselSlide><img src="/images/banner-1.jpg" alt="hero image" class="w-full h-[600px] object-cover" /></ng-template>
    <ng-template carouselSlide><img src="/images/banner-3.png" alt="hero image" class="w-full h-[600px] object-cover" /></ng-template>
  </owl-carousel-o>
</header>
