<header class="relative h-[85vh] w-full overflow-hidden">
  <!-- Swiper -->
  <swiper-container autoplay-delay="5000" speed="2000" loop="true" pagination="true" navigation="false"
    space-between="20" class="h-full w-full">
    <!-- Slide 1 -->
    <swiper-slide class="relative">
      <img src="/images/banner-4.jpg" alt="hero image" class="w-full h-full object-cover" />

    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide class="relative">
      <img src="/images/banner-1.jpg" alt="hero image" class="w-full h-full object-cover" />
    </swiper-slide>

    <swiper-slide class="relative">
      <img src="/images/banner-3.png" alt="hero image" class="w-full h-full object-cover" />
    </swiper-slide>

  </swiper-container>
</header>
