<section class="py-12">
  <header class=" mb-7  section-header ">
    <p>Categories</p>
    <h2>Browse By Category</h2>
  </header>

  <owl-carousel-o [options]="customOptions">

    @for (slide of categoriesList; track slide._id) {
    <ng-template carouselSlide [id]="slide._id">
      <div class="category-card">
        <div class="image-wrapper">
          <img [src]="slide.image" [alt]="slide.name" [title]="slide.name" [routerLink]="['/products']"
            [queryParams]="{ category: slide._id }" class="hover:cursor-pointer">
        </div>
        <div class="category-name">
          {{ slide.name }}
        </div>
      </div>
    </ng-template>
    }

  </owl-carousel-o>
</section>
