<!-- navbar.component.html -->
<!-- Top black bar -->
<div class="bg-black text-white text-xs py-2 px-4 flex justify-center items-center py-4 px-10">
  <div>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a routerLink="/products"
      class="underline">ShopNow</a>
  </div>
  <!--language button-->
  <!-- <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
    class="text-white hover:cursor-pointer hover:text-red-600 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
    type="button"><i class="fa-solid fa-globe"></i>
  </button> -->

  <!-- Language Dropdown menu -->
  <!-- <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">English</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Arabic</a>
      </li>
    </ul>
  </div> -->
</div>

<nav class="px-10 py-4 bg-white shadow-md">
  <div class="container flex justify-between items-center ">
    <!-- Logo -->
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <h1 class="text-xl font-bold">Exclusive</h1>
      <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">MySite</span> -->
    </a>

    <!-- Hamburger button -->
    <button type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      (click)="toggleOffcanvas()">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

    <!-- Desktop menu -->
    <div class="hidden lg:flex justify-between grow">
      <ul class="flex space-x-8 font-medium flex-1 justify-center">
        <li><a routerLink="/home" routerLinkActive="font-semibold text-red-500"
            [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Home</a>
        </li>
        <li><a routerLink="/categories" routerLinkActive="font-semibold text-red-500"
            [routerLinkActiveOptions]="{ exact: true }"
            class="hover:text-red-500 transition duration-300 ">Categories</a></li>
        <li><a routerLink="/products" routerLinkActive="font-semibold text-red-500"
            [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Products</a>
        </li>
        <li><a routerLink="/brands" routerLinkActive="font-semibold text-red-500"
            [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Brands</a>
        </li>
        <li *ngIf="!(userData$ | async)"><a routerLink="/auth/register" routerLinkActive="font-semibold text-red-500"
            [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300">Sign UP</a>
        </li>
      </ul>

      <!----- User Profile Dropdown   ----->
      <div class="flex space-x-3 items-center">
        <div class="flex items-center space-x-2">
          <input type="text" placeholder="What are you looking for?" class="border rounded-md px-3 py-1 text-sm" />
          <i class="fa fa-search text-gray-600"></i>
        </div>
        <ul class="flex space-x-3 font-medium items-center">
          <li [class.hidden]="authPages">
            <a routerLink="/wishlist" class="hover:text-red-500"><i class="fa-regular fa-heart"></i></a>
          </li>
          <!-- <li class="relative">
            <span class="absolute top-[-7px] right-[-6px] flex justify-center items-center w-[17px] h-[17px] rounded-full bg-gray-400 text-white text-[13px]"></span>
            <a [class.hidden]="authPages" routerLink="/cart" routerLinkActive="text-red-500"
              class="hover:text-red-500"><i class="fa-solid fa-cart-shopping"></i></a>
          </li> -->
          <a routerLink="/cart" class="relative" [class.hidden]="authPages" routerLinkActive="text-gray-700">
              <i class="fa-solid fa-cart-shopping text-[15px]"></i>
              <span *ngIf="cartCount$ | async as count" class="absolute -top-2 -right-2 bg-red-600 text-white text-xs rounded-full px-1">
                {{ count }}
              </span>
            </a>

          <!-- Profile Button -->
          <li *ngIf="userData$ | async as user" (click)="toggleDropdown()" class="relative cursor-pointer">
            <i class="fa-regular fa-user hover:text-red-500"></i>

            <!-- Profile Dropdown menu -->
            <div *ngIf="showDropdown"
              class="absolute right-0 mt-2 z-20 w-56 bg-white rounded-xl shadow-lg border border-gray-100 overflow-hidden">
              <ul class="text-sm text-gray-700">
                <!-- User info -->
                <li class="flex items-center gap-3 px-4 py-3 bg-gray-50">
                  <div class="bg-gray-700 rounded-full w-10 h-10 flex justify-center items-center text-white">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd"
                        d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                        clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div class="flex flex-col">
                    <span class="text-gray-900 font-medium text-sm leading-tight">{{ user.name }}</span>
                    <span class="text-gray-500 text-xs">( {{ user.role }} )</span>
                  </div>
                </li>

                <!-- Divider -->
                <li class="border-t border-gray-100"></li>

                <!-- Logout -->
                <li>
                  <button (click)="logout()"
                    class="w-full flex gap-2 text-left px-4 py-2.5 text-gray-700 hover:cursor-pointer hover:bg-red-50 hover:text-red-600 transition-colors">
                    <svg class="w-6 h-6 " aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2" />
                    </svg>
                    <span>Logout</span>
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<!-- Offcanvas Sidebar (mobile only) -->
<div class="fixed top-0 left-0 h-full w-64  shadow-lg transform transition-transform duration-300 lg:hidden z-[10000] navbar-offcanvas"
  [class]="{ '-translate-x-full': !isOffcanvasOpen, 'translate-x-0': isOffcanvasOpen }">

  <!-- Close Button -->
  <div class="flex justify-between items-center p-4 border-b border-gray-300">
    <span class="font-bold text-lg brand">Exclusive</span>
    <button (click)="toggleOffcanvas()" class="text-gray-600">
      ✕
    </button>
  </div>

  <!-- Links -->
  <ul class="flex flex-col p-4 space-y-4 font-medium">
    <li><a (click)="closeOffcanvas()" routerLink="/home" routerLinkActive="font-semibold text-red-500"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Home</a>
    </li>
    <li><a (click)="closeOffcanvas()" routerLink="/categories" routerLinkActive="font-semibold text-red-500"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Categories</a>
    </li>
    <li><a (click)="closeOffcanvas()" routerLink="/products" routerLinkActive="font-semibold text-red-500"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Products</a>
    </li>
    <li><a (click)="closeOffcanvas()" routerLink="/brands" routerLinkActive="font-semibold text-red-500"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Brands</a>
    </li>
    <li><a (click)="closeOffcanvas()" routerLink="/auth/register" routerLinkActive="font-semibold text-red-500"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-red-500 transition duration-300 ">Sign UP</a>
    </li>
  </ul>
</div>

<!-- Overlay -->
@if(isOffcanvasOpen){
<div class="fixed inset-0 offcanvas-overlay lg:hidden transition-opacity duration-300 z-[1000]"
  (click)="closeOffcanvas()">
</div>
}
