<section class="">
  <header class=" mb-7  section-header ">
    <p>Featured</p>
    <h2>New Arrival</h2>
  </header>

  @if(allCategories.length > 0){
      <div class="grid grid-cols-1 md:grid-cols-12 gap-4 w-full">
  <!-- Left big image -->
  <div class="md:col-span-6">
   <div class="bg-black pt-3 relative">
     <img src="/images/feature.png" class="w-full h-full object-contain rounded-lg" alt="PlayStation 5">
     <div class="absolute bottom-4 left-3">
        <h2 class=" text-white font-bold text-[24px]">
        {{allCategories[0].name}}
      </h2>
      <a [routerLink]="['/products']" [queryParams]="{ category: allCategories[0]._id }" class="text-white font-regular text-base capitalize">Shop Now</a>
      </div>
   </div>
  </div>

  <!-- Right side grid -->
  <div class="md:col-span-6 grid grid-rows-1 gap-4 md:h-full">
    <!-- Top wide image -->
    <div class="bg-black relative">
      <img src="/images/feature-1.png" class="w-full h-full object-contain rounded-lg" alt="Women's Collections">
      <div class="absolute bottom-4 left-3">
        <h2 class=" text-white font-bold text-xl">
        {{allCategories[2].name}}
      </h2>
      <a [routerLink]="['/products']" [queryParams]="{ category: allCategories[2]._id }" class="text-white font-regular text-base capitalize">Shop Now</a>
      </div>
    </div>
    <!-- Bottom two images side by side -->
    <div class="grid grid-cols-2 gap-3">
     <div class="bg-black pt-3 relative">
       <img src="/images/feature-3.png" class="w-full h-[190px] object-contain rounded-lg" alt="Speakers">
       <div class="absolute bottom-4 left-3">
        <h2 class=" text-white font-bold text-xl">
        {{allCategories[8].name}}
      </h2>
      <a [routerLink]="['/products']" [queryParams]="{ category: allCategories[8]._id }" class="text-white font-regular text-base capitalize">Shop Now</a>
      </div>
     </div>

     <div class="bg-black pt-3 relative">
       <img src="/images/feature-2.png" class="w-full h-[190px] object-contain rounded-lg" alt="Perfume">
       <div class="absolute bottom-4 left-3">
        <h2 class=" text-white font-bold text-xl">
        {{allCategories[1].name}}
      </h2>
      <a [routerLink]="['/products']" [queryParams]="{ category: allCategories[1]._id }" class="text-white font-regular text-base capitalize">Shop Now</a>
      </div>
     </div>

    </div>
  </div>
</div>
  }

</section>
