<header class="relative w-full h-64 md:h-80 mb-10">
  <img src="/images/dr5.webp" alt="Categories Banner" class="w-full h-full object-cover" />
  <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
    <h1 class="text-white text-3xl md:text-5xl font-bold">Browse By Brands</h1>
  </div>
</header>

@if(isLoading){
<app-loader />
}@else {
<div class="px-6 py-10">
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-5 gap-6">
    @for (brand of allBrands | paginate: {
    id: 'brands',
    itemsPerPage: pageSize,
    currentPage: currentPage,
    totalItems: total
    };; track $index) {
    <div class="flex flex-col items-center p-4 bg-white shadow-md rounded-lg cursor-pointer hover:shadow-lg transition"
      [routerLink]="['/products']" [queryParams]="{ brand: brand._id }">
      <img [src]="brand.image" alt="{{ brand.name }}" class="w-full h-full object-cover mb-3" />
      <!-- <h3 class="text-center font-medium">{{ brand.name }}</h3> -->
    </div>
    }
  </div>
  <pagination-controls class="my-pagination" id="brands" previousLabel="" nextLabel=""
    (pageChange)="pageChanged($event)"></pagination-controls>
</div>

}
